{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js, Jugal!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="http://photos1.meetupstatic.com/photos/event/5/0/c/a/600_397340682.jpeg" height="50" width="50"><br>
      <b>Jugal Shah</b><br>
      500 followers
    </div>
    <div class="col-md-9">

      <!-- display tweets here -->
      <br><h1 style="font-size:200%">All Tweets</h1><br>
      <br><h1 style="font-size:200%">{{title}}</h1><br>

      {% for tweet in tweets %}
        <img src="http://cliparts.co/cliparts/yik/Are/yikArebiE.gif" height="30" width="30">
        <a href="/users/{{tweet.name}}">{{tweet.name}}</a>
        <br>{{tweet.text}}<br>
        <a href="/users/{{tweet.name}}/tweets/{{tweet.id}}">{{tweet.id}}</a>
        <br>
      {% endfor %}

    </div>
  </div>

{% endblock %}
